<div class="row">
	<div class="col-xs-12">
		<img src="{{selectedRecipe?.imagePath}}" alt="" class="img-responsive">
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h1>{{selectedRecipe?.name}}</h1>
	</div>
	<div class="col-xs-12">
		<button class="btn btn-success" (click)="addToShoppingList()">To Shopping list</button>
		<button class="btn btn-primary">Edit</button>
		<button class="btn btn-danger">Delete</button>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-xs-12">
		<p>{{selectedRecipe?.description}}</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<ul class="list-group">
			<li class="list-group-item" *ngFor="let item of selectedRecipe?.ingredients">{{item.name}} ({{item.amount}})</li>
		</ul>
	</div>
</div>
